#### Use Scrapy to get daata form a website

In [71]:
import scrapy
import os


import urllib.request
import requests
import csv

##### Using request get the contents of the website  https://carbuzz.com/cars/sports-coupes and save it locally.

In [4]:

url3="https://carbuzz.com/cars/sports-coupes"
url_response = requests.get(url3)
url_contents = url_response.text


with open ("carsList.html","w", encoding="utf-8") as file:  ###carefull

    file.write(url_contents)

##### Scraping the local file carList.html to extract info about cars

In [72]:
pathX="carsList.html"

with open(pathX,"r",encoding='utf-8') as _f:
    url_data = _f.read()
    url_data=url_data.replace('\n\n\n\n','')
    url_data=url_data.replace('\n\n','')

response = scrapy.http.TextResponse(pathX, body=url_data, encoding='utf-8')

In [73]:
list1=response.xpath( '//div [@class="bg-block bg-car-preview-block bg-group-car-preview js-bg-block"]')
                                
print(len(list1))
print(*list1[0:5])

105
<Selector xpath='//div [@class="bg-block bg-car-preview-block bg-group-car-preview js-bg-block"]' data='<div class="bg-block bg-car-preview-b...'> <Selector xpath='//div [@class="bg-block bg-car-preview-block bg-group-car-preview js-bg-block"]' data='<div class="bg-block bg-car-preview-b...'> <Selector xpath='//div [@class="bg-block bg-car-preview-block bg-group-car-preview js-bg-block"]' data='<div class="bg-block bg-car-preview-b...'> <Selector xpath='//div [@class="bg-block bg-car-preview-block bg-group-car-preview js-bg-block"]' data='<div class="bg-block bg-car-preview-b...'> <Selector xpath='//div [@class="bg-block bg-car-preview-block bg-group-car-preview js-bg-block"]' data='<div class="bg-block bg-car-preview-b...'>

In [74]:
car_rank=[]

for i in list1:

    car_rank.append(i.xpath('div/div/text()').extract())
    
print(car_rank)

[['#1'], ['#2'], ['#3'], ['#4'], ['#5'], ['#6'], ['#7'], ['#8'], ['#9'], ['#10'], ['#11'], ['#12'], ['#13'], ['#14'], ['#15'], ['#16'], ['#17'], ['#18'], ['#19'], ['#20'], ['#21'], ['#22'], ['#23'], ['#24'], ['#25'], ['#25'], ['#26'], ['#27'], ['#28'], ['#29'], ['#30'], ['#31'], ['#32'], ['#33'], ['#34'], ['#35'], ['#36'], ['#37'], ['#38'], ['#39'], ['#40'], ['#41'], ['#42'], ['#43'], ['#44'], ['#45'], ['#46'], ['#47'], ['#48'], ['#49'], ['#50'], ['#51'], ['#52'], ['#53'], ['#54'], ['#55'], ['#56'], ['#57'], ['#58'], ['#59'], ['#60'], ['#61'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]

In [75]:
car_name=[]

for i in list1:
    car_name.append(i.xpath('div/div[3]/a/text()').extract())

print(car_name[:5])

[['Mercedes-AMG S63 Coupe'], ['Lexus LC Hybrid'], ['BMW M8 Coupe'], ['Lexus LC Coupe'], ['Porsche 911 Turbo']]

In [76]:
car_price=[]
car_fuel=[]
car_hp=[]
car_rating=[]

for i in list1:
    car_price.append(i.xpath('div/div[4]/div[1]/div[1]/text()').extract())
    car_fuel.append(i.xpath('div/div[4]/div[2]/div[1]/text()').extract())
    car_hp.append(i.xpath('div/div[4]/div[3]/div[1]/text()').extract())
    car_rating.append(i.xpath('div/div[4]/div[4]/span/text()').extract())
print(car_price[:5])
print(car_fuel[:5])
print(car_hp[:5])
print(car_rating[:5])

[['$173,100'], ['$99,050'], ['$130,000'], ['$93,050'], ['$174,300 - $207,000']]
[['16/26 mpg'], ['26/34 mpg'], ['15/21 mpg'], ['16/25 mpg'], ['15/20 mpg']]
[['603 hp'], ['354 hp'], ['617 hp'], ['471 hp'], ['572 hp']]
[['9.4'], ['9.3'], ['9.3'], ['9.1'], ['9.1']]

#### Creating csv file

In [77]:
columns=["ranking","name","price",'mpg','hp','rating']
 
with open ("extracted_cars.csv","w", encoding="utf-8",newline="\n") as file:  ###carefull
    writer=csv.writer(file)
    writer.writerow(columns)

    for i in range(61):

        writer.writerow([car_rank[i][0][1],car_name[i][0],car_price[i][0],
        car_fuel[i][0].replace(" mpg",""),car_hp[i][0].replace(" hp",""),car_rating[i][0]])

#### trying to move extracted_cars.csv to path: C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\    using bash command

In [88]:
import os
from os.path import exists


path="C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads"
path2="C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/"
filex="extracted_cars.csv"

path3="C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/extracted_cars.csv"
path4='"C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/extracted_cars.csv"'

if exists(path2) and exists(path3):
    print(f"File {filex} located at {path2} ")

elif exists(path2):
    #### use path4. The path has double quotes "" so the copy command will work.
    bashCommand=f"cp {filex} {path4}"   
    print("command: ",bashCommand)

    os.popen(bashCommand)

    print("File copied to ",path2 , "succesfully")
else:
    print(f'Unabled to move {filex} to {path2}. Do it manually')

File extracted_cars.csv located at C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/

#### another way with bash commands using subprocess module. It checks for errors in the command execution

In [110]:
import subprocess as sp

filex="extracted_cars.csv"


path4='"C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/extracted_cars.csv"'

### this path will produce an error
path3='C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/extracted_cars.csv'

bashCommand=f"cp {filex} {path3}" 

p = sp.Popen(bashCommand, stdout=sp.PIPE, stderr=sp.PIPE)

output, error = p.communicate()

if p.returncode != 0: 
   print("Error executing command:")
   print("return code:",p.returncode)
   print("output: ",output) 
   print("error: ",error) 
else:
  print("File transfer was successful")

Error executing command:
return code: 1
output:  b''
error:  b"cp: target '8.0/Uploads/extracted_cars.csv' is not a directory\n"

#### another way with subprocess method

In [104]:
import subprocess as sp

filex="extracted_cars.csv"

#### correct path
path4='"C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/extracted_cars.csv"'

### this path will produce an error
path3='C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/extracted_cars.csv' 

bashCommand =f"cp {filex} {path3}" 

try:
  sp.check_output(bashCommand,stderr=sp.STDOUT)
except sp.CalledProcessError as err:
    print(f"Error executing command '{bashCommand}'")
else:
  print(f"No errors found! \nFile copied to {path3}")

Error executing command 'cp extracted_cars.csv C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/extracted_cars.csv'

#### Loading extracted data into database cars_db

In [113]:
import mysql
import mysql.connector
from connectionData import sql_str

import pymysql
from sqlalchemy import create_engine

%load_ext sql
%sql mysql://root:mysql@localhost/  ####format=  mysql://username:password@localhost/

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
0 rows affected.

[]

In [114]:
%%sql
DROP DATABASE IF EXISTS cars_DB;

CREATE DATABASE cars_DB;

CREATE TABLE cars_DB.cars(

ranking INT,
name TEXT,
price TEXT,
mpg TEXT,
hp INT,
rating FLOAT
    
)

 * mysql://root:***@localhost/
1 rows affected.
1 rows affected.
0 rows affected.

[]

In [115]:
%%sql
SHOW VARIABLES LIKE "secure_file_priv";

 * mysql://root:***@localhost/
1 rows affected.

[('secure_file_priv', 'C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads\\')]

####   The csv file extracted_cars.csv is located in: C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\
#### If not the error: "The MySQL server is running with the --secure-file-priv option" will pop up

In [116]:
%%sql

LOAD DATA LOCAL INFILE 'extracted_cars.csv' INTO TABLE cars_DB.cars
FIELDS 
TERMINATED BY ','  
ENCLOSED BY '"' 
LINES TERMINATED BY '\n' 
IGNORE 1 ROWS;

 * mysql://root:***@localhost/
61 rows affected.

[]

In [117]:
%%sql
SELECT * FROM cars_DB.cars LIMIT 5;

 * mysql://root:***@localhost/
5 rows affected.

[(1, 'Mercedes-AMG S63 Coupe', '$173,100', '16/26', 603, 9.4),
 (2, 'Lexus LC Hybrid', '$99,050', '26/34', 354, 9.3),
 (3, 'BMW M8 Coupe', '$130,000', '15/21', 617, 9.3),
 (4, 'Lexus LC Coupe', '$93,050', '16/25', 471, 9.1),
 (5, 'Porsche 911 Turbo', '$174,300 - $207,000', '15/20', 572, 9.1)]

##### Making a copy of database cars using mysqldump
##### Use 127.0.0.1 for the host name DO NOT USE 'localhost'
##### format:  mysqldump -u username -h 127.0.0.1 -P 3306 -ppassword  cars_DB > cars_DB_y-m-d-h-m.sql

In [118]:
import connectionData as cd
import os
import time


filestamp = time.strftime('%y-%m-%d-%I-%M')

backup=cd.DATABASE + "_"+ filestamp + ".sql"


sq=f"mysqldump -u {cd.USER} -h {cd.HOST} -P {cd.PORT} -p{cd.PASS}  {cd.DATABASE} > {backup}"

print(f"Bash string:\nmysqldump -u user_name -h 127.0.0.1 -P 3306 -ppassword  cars_DB > {backup}")


os.popen(sq)
print()
print(f"file: {backup} was created")

Bash string:
mysqldump -u user_name -h 127.0.0.1 -P 3306 -ppassword  cars_DB > cars_DB_22-05-03-06-01.sql

file: cars_DB_22-05-03-06-01.sql was created

#### another way using subprocess module

In [125]:
import subprocess as sp
import connectionData as cd
import os
import time


filestamp = time.strftime('%y-%m-%d-%I-%M')

backup=cd.DATABASE + "_"+ filestamp + ".sql"


sq=f"mysqldump -u {cd.USER} -h {cd.HOST} -P {cd.PORT} -p{cd.PASS}  {cd.DATABASE} > {backup}"

## this will generate error
sq2=f"mysqldump -u {cd.USER}xx -h {cd.HOST} -P {cd.PORT} -p{cd.PASS}  {cd.DATABASE} > {backup}"


p = sp.Popen(sq, stdout=sp.PIPE, stderr=sp.PIPE,shell=True)

output, error = p.communicate()

if p.returncode != 0: 
   print("Error executing command:")
   print("return code:",p.returncode)
   print("output: ",output) 
   print("error: ",error) 
else:
   print(f"Bash command:\nmysqldump -u *** -h 127.0.0.1 -P 3306 -p***  cars_DB > {backup}")
   print("Succesfull")
   print(f"File created {backup}")

Bash command:
mysqldump -u *** -h 127.0.0.1 -P 3306 -p***  cars_DB > cars_DB_22-05-03-06-19.sql
Succesfull
File created cars_DB_22-05-03-06-19.sql

#### Creating new database with the exported data form cars_db.

#### reading the back up database file and adding three sql queries to drop and create the new database new_cars_DB

In [64]:
import mysql.connector
import connectionData as cd
connection = mysql.connector.connect(
    host=cd.HOST,
    user=cd.USER,
    password=cd.PASS
)

cursor = connection.cursor()

with open(backup,"r",encoding="utf-8") as fd:
    sqlFile='DROP DATABASE IF EXISTS new_cars_DB; CREATE DATABASE new_cars_DB; USE new_cars_DB; '
    sqlFile+=fd.read()
    
cursor.execute(sqlFile)
cursor.close()

True

In [69]:
connection = mysql.connector.connect(
    host=cd.HOST,
    user=cd.USER,
    password=cd.PASS
)

cursor = connection.cursor() 

cursor.execute('SELECT * FROM new_cars_db.cars LIMIT 5')
print(cursor.fetchall())

[(1, 'Mercedes-AMG S63 Coupe', '$173,100', '16/26', 603, 9.4), (2, 'Lexus LC Hybrid', '$99,050', '26/34', 354, 9.3), (3, 'BMW M8 Coupe', '$130,000', '15/21', 617, 9.3), (4, 'Lexus LC Coupe', '$93,050', '16/25', 471, 9.1), (5, 'Porsche 911 Turbo', '$174,300 - $207,000', '15/20', 572, 9.1)]